
*.png
*.jpg
*.dsvmgpu
*.GPU
*.txt
mask_rcnn_logs/lesion20190424T0423/mask_rcnn_lesion_0040.h5
mask_rcnn_logs/lesion20190424T0423/mask_rcnn_lesion_0038.h5
*.pyc
*.h5
*.hdf5
.ipynb_checkpoints/UNet-New-checkpoint.ipynb
.ipynb_checkpoints/CS230_Project_Test-checkpoint.ipynb
.ipynb_checkpoints/ErrorAnalysis-checkpoint.ipynb
.ipynb_checkpoints/MaskRcnn-checkpoint.ipynb
.ipynb_checkpoints/UNet-checkpoint.ipynb
data.zip
archive/data.py
archive/model.py
unet/unet_test_result-20190506_512p_deeper.csv
unet/unet_test_result.csv
